@page "/account/changepassword"
@using A5Soft.A5App.Application.UseCases.Security
@using A5Soft.A5App.Domain.Security

<h1>@ChangePasswordUseCase.GetParameterMetadata().GetDisplayNameForNew()</h1>

<InputForm Model="@Input" OnSubmitAsync=ChangePasswordAsync OnCancel=GoBack >
    <InputField For="@(() => Input.CurrentPassword)" @bind-FieldValue="@Input.CurrentPassword" />
    <InputField For="@(() => Input.NewPassword)" @bind-FieldValue="@Input.NewPassword" />
    <InputField For="@(() => Input.RepeatedPassword)" @bind-FieldValue="@Input.RepeatedPassword" />
</InputForm>

@code {
    [Inject]
    private SmartNavigationManager Navigation { get; set; }
    [Inject]
    private IChangePasswordUseCase ChangePasswordUseCase { get; set; }
    [CascadingParameter(Name = "ErrorHandler")]
    private ErrorModal ErrorHandler { get; set; }

    private ChangePasswordRequest Input { get; set; } = new ChangePasswordRequest();

    private async Task ChangePasswordAsync(EditContext context)
    {
        var success = await ErrorHandler.ExecuteWithError(async () =>
            await ChangePasswordUseCase.InvokeAsync(Input));
        if (success) Navigation.NavigateBackOrMain();
    }

    private void GoBack()
    {
        Navigation.NavigateBackOrMain();
    }

}
